# Local dictionary
dict.txt

# shade
dependency-reduced-pom.xml

test_files/
DB*/test/

# Locally downloaded javadocs
javadoc/

# target packages
*target*
*.bat

# eclipse project files
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
